<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AppServlet</servlet-name>
    <servlet-class>com.kaishengit.web.AppServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.kaishengit.web.MainServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>com.kaishengit.web.TaskServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoalServlet</servlet-name>
    <servlet-class>com.kaishengit.web.GoalServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateProjectServlet</servlet-name>
    <servlet-class>com.kaishengit.web.CreateProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>com.kaishengit.web.ProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateGoalServlet</servlet-name>
    <servlet-class>com.kaishengit.web.CreateGoalServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RateServlet</servlet-name>
    <servlet-class>com.kaishengit.web.RateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateTaskServlet</servlet-name>
    <servlet-class>com.kaishengit.web.CreateTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DocumentServlet</servlet-name>
    <servlet-class>com.kaishengit.web.DocumentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DocumentShowServlet</servlet-name>
    <servlet-class>com.kaishengit.web.DocumentShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewDocumentServlet</servlet-name>
    <servlet-class>com.kaishengit.web.NewDocumentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewFileServlet</servlet-name>
    <servlet-class>com.kaishengit.web.NewFileServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SingleFileServlet</servlet-name>
    <servlet-class>com.kaishengit.web.SingleFileServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewFolderServlet</servlet-name>
    <servlet-class>com.kaishengit.web.NewFolderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>com.kaishengit.web.ContactServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewContactServlet</servlet-name>
    <servlet-class>com.kaishengit.web.NewContactServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditContactServlet</servlet-name>
    <servlet-class>com.kaishengit.web.EditContactServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IdeaServlet</servlet-name>
    <servlet-class>com.kaishengit.web.IdeaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IdeaShowServlet</servlet-name>
    <servlet-class>com.kaishengit.web.IdeaShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewIdeaServlet</servlet-name>
    <servlet-class>com.kaishengit.web.NewIdeaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ContactNoteServlet</servlet-name>
    <servlet-class>com.kaishengit.web.ContactNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.kaishengit.web.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.kaishengit.web.ExitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FileTypeServlet</servlet-name>
    <servlet-class>com.kaishengit.web.FileTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.kaishengit.web.MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RepasswordServlet</servlet-name>
    <servlet-class>com.kaishengit.web.RepasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.kaishengit.web.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditGoalServlet</servlet-name>
    <servlet-class>com.kaishengit.web.EditGoalServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditTaskServlet</servlet-name>
    <servlet-class>com.kaishengit.web.EditTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.kaishengit.web.EmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditProjectServlet</servlet-name>
    <servlet-class>com.kaishengit.web.EditProjectServlet</servlet-class>
  </servlet>


























  

  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.kaishengit.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


  <servlet-mapping>
    <servlet-name>AppServlet</servlet-name>
    <url-pattern>/index.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/task.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoalServlet</servlet-name>
    <url-pattern>/goal.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateProjectServlet</servlet-name>
    <url-pattern>/createproject.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RateServlet</servlet-name>
    <url-pattern>/rate.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateGoalServlet</servlet-name>
    <url-pattern>/creategoal.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateTaskServlet</servlet-name>
    <url-pattern>/createtask.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/project.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocumentServlet</servlet-name>
    <url-pattern>/document.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocumentShowServlet</servlet-name>
    <url-pattern>/documentshow.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewDocumentServlet</servlet-name>
    <url-pattern>/newdocument.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewFileServlet</servlet-name>
    <url-pattern>/newfile.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SingleFileServlet</servlet-name>
    <url-pattern>/singlefile.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewFolderServlet</servlet-name>
    <url-pattern>/newfolder.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/contact.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewContactServlet</servlet-name>
    <url-pattern>/newcontact.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditContactServlet</servlet-name>
    <url-pattern>/editcontact.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IdeaServlet</servlet-name>
    <url-pattern>/idea.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IdeaShowServlet</servlet-name>
    <url-pattern>/ideashow.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewIdeaServlet</servlet-name>
    <url-pattern>/newidea.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContactNoteServlet</servlet-name>
    <url-pattern>/contactnote.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/exit.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileTypeServlet</servlet-name>
    <url-pattern>/filetype.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/message.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepasswordServlet</servlet-name>
    <url-pattern>/repassword.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditGoalServlet</servlet-name>
    <url-pattern>/editgoal.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditTaskServlet</servlet-name>
    <url-pattern>/edittask.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employee.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditProjectServlet</servlet-name>
    <url-pattern>/editproject.jspx</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jspx</welcome-file>
  </welcome-file-list>
</web-app>
